<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
    <link href="/public/admin/adminhome/css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
</head>

<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="index.html">shoeMart Admin</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i
                class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <!-- <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..."
                    aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i
                        class="fas fa-search"></i></button> -->
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown"
                    aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Settings</a></li>
                    <li><a class="dropdown-item" href="#!">Activity Log</a></li>
                    <li>
                        <hr class="dropdown-divider" />
                    </li>
                    <li><a class="dropdown-item" href="#!">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">

                        <a class="nav-link" href="home">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>

                        <a class="nav-link" href="user">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Users
                        </a>

                        <a class="nav-link" href="category">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-cart-shopping"></i></div>
                            Category
                        </a>

                        <a class="nav-link" href="product">
                            <div class="sb-nav-link-icon"><i class="fa-brands fa-product-hunt"></i></div>
                            Products
                        </a>

                        <a class="nav-link" href="order">
                            <div class="sb-nav-link-icon"><i class="fa-brands fa-product-hunt"></i></div>
                            Orders
                        </a>

                        <a class="nav-link" href="coupon">
                            <div class="sb-nav-link-icon"><i class="fa-sharp fa-solid fa-copyright"></i></div>
                            Coupon
                        </a>

                        <a class="nav-link" href="product">
                            <div class="sb-nav-link-icon"><i class="fa-solid fa-right-from-bracket"></i></div>
                            Logout
                        </a>

                    </div>
                </div>

            </nav>
        </div>


        <div id="layoutSidenav_content">
            
              <div class="container-fluid px-4">
                    <h1 class="mt-4">Coupon Management</h1> 
                    
                    <button type="button" class="btn btn-primary mb-2" style="float: right;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                        Add Coupon
                        
                    </button>
                    <p class="text-center" style="color: red;"><%=locals.wrong%></p>
                   
              </div>
              <div class="modal fade " id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true" style="padding-top: 40px;">
                <div class="modal-dialog ">
                  <div class="modal-content ">
                    <div class="modal-header ">
                      <h5 class="modal-title " id="staticBackdropLabel">Add Coupon</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            <div class="form-group">
                              <!-- <label for="exampleFormControlFile1">Example file input</label>
                              <input type="file" class="form-control-file" id="exampleFormControlFile1"> -->
                            <label for="exampleFormControlInput1">Name</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Name" name="name">
                            <label for="exampleFormControlInput1">Code</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Code" name="code">
                            <label for="exampleFormControlInput1">Discount</label>
                            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Discount" name="discount">
                            <label for="exampleFormControlInput1">Minimum Amount</label>
                            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="Minimum amount" name="minamount">
                            <label for="exampleFormControlInput1">Starting Date</label>
                            <input type="date" style="opacity: 90%;" class="form-control" id="exampleFormControlInput1" placeholder="Starting Date" name="startingdate">
                            <label for="exampleFormControlInput1">Ending Date</label>
                            <input type="date" style="opacity: 90%;" class="form-control" id="exampleFormControlInput1" placeholder="Expiry Date" name="expirydate">
                            </div>

                          
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    </div>
                  </div>
                </div>
              </div>

            
              <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-table me-1"></i>
                    Coupon Data Table 
                </div>
                <div class="card-body">
                    <% if(coupons!=null) { %>
                    <table id="datatablesSimple">
                        <thead>
                            <tr>
                                <!-- <th>No.</th> -->
                                <th>Name</th> 
                                <th>Code</th>
                                <th>Discount</th>
                                <th>Min Amount</th>
                                <th>starting Date</th>
                                <th>Expiry Date</th>
                                <th>Status</th>
                                
                                
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <!-- <th>No.</th> -->
                                <th>Name</th> 
                                <th>Code</th>
                                <th>Discount</th>
                                <th>Min Amount</th>
                                <th>starting Date</th>
                                <th>Expiry Date</th>
                                <th>Status</th>
                               
                               
                            </tr>
                        </tfoot>
                        <tbody>
                            <% coupons.forEach((data)=>{ %>
                          <tr>
                            <td><%=data.name%></td>
                            <td><%=data.code%></td>
                            <td><%=data.discount%> %</td>
                            <td>$<%=data.minAmount%></td>
                            <td><%=data.startingDate%></td>
                            <td><%=data.expiryDate%></td>
                            <td>
                                <%if(data.status==true){%> 
                                  <a href="coupon/block?id=<%=data._id%>" onclick="return confirm('Are you sure to unlist the <%=data.name%>')" ><button type="button" class="btn btn-success" style="width: 100px;" >List</button></a>
                                    <%} else {%>
                                       <a href="coupon/block?id=<%=data._id%>" onclick="return confirm('Are you sure to list the <%=data.name%>')" > <button type="button" class="btn btn-danger" style="width: 100px;" >Unlist</button></a> 
                                        
                                        <%}%>

                                        <!-- <a href="product/edit?id=<%=data._id%>"><button type="button" class="btn btn-primary" style="width: 100px;" >Edit</button></a>         -->
                            </td>
                            
                            
                          </tr>
                          <%})%>
                        </tbody>
                    </table>
                    <%}%>
                </div>
               </div>

                  
              
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">shoeMart &copy;  Website 2022</div>
                        <div>
                            <a href="#">Privacy Policy</a>
                            &middot;
                            <a href="#">Terms &amp; Conditions</a>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/public/admin/adminhome/js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="/public/admin/adminhome/assets/demo/chart-area-demo.js"></script>
    <script src="/public/admin/adminhome/assets/demo/chart-bar-demo.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="/public/admin/adminhome/js/datatables-simple-demo.js"></script>
</body>

</html>